* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
    padding: 8%;
}

.container-title-score {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    height: 6rem;
    min-width: 60%;
    background: transparent;
    border-radius: 5px;
    border: 2px solid hsl(217, 16%, 45%);
}

#container-title {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container-title h2 {
    font-size: 20px;
    color: #fff;
    line-height: 18px;
}

#container-score {
    width: 25%;
    max-width: 100px;
    height: 100%;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

#container-score p {
    text-align: center;
}

#score-p {
    color: hsl(229, 64%, 46%);
    font-size: 12px;
}

#pts {
    font-size: 35px;
}

.container-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    height: auto;
    /* background: rgba(128, 128, 128, 0.26); */
}

.hand {
    width: 115px;
    height: 115px;
    background: #fff;
    border-radius: 100%;
    position: relative;
    margin: 20px;
}

#paper {
    display: block;
    border: 10px solid hsl(230, 89%, 62%);
    background-image: url(images/icon-paper.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
}

#scissors {
    border: 10px solid hsl(39, 89%, 49%);
    background-image: url(images/icon-scissors.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
}

#rock {
    border: 10px solid hsl(349, 71%, 52%);
    background-image: url(images/icon-rock.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
}

.hand img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#rules {
    display: block;
    position: relative;
    margin: 5rem auto;
    width: 6rem;
    height: 2rem;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

#container-rules {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    animation: showTarget 1s linear;
}

.container-target-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 280px;
    height: 60vh;
    background: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
}

.container-target-rules img {
    width: 90%;
}

@keyframes showTarget {
    from {
        transform: translateY(-800px);
    }
    to {
        transform: translateY(0px);
    }
}


/* 
----------------------------- SELECT HAND ----------------------- */

.container-select-hand {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 15rem;
}

#you {
    color: #fff;
    margin-left: 13%;
    font-size: 15px;
}

#house {
    color: #fff;
    margin-right: 7%;
    font-size: 15px;
}

.select-hand {
    width: 115px;
    height: 115px;
    background: #fff;
    border-radius: 100%;
    position: relative;
    margin: 20px;
}

.hand-ia {
    width: 115px;
    height: 115px;
    background: #fff;
    border-radius: 100%;
    position: relative;
    margin: 20px;
    animation: showIA .7s;
    animation-iteration-count: 3;
}

.paper-select {
    display: block;
    border: 10px solid hsl(230, 89%, 62%);
    background-image: url(images/icon-paper.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
}

.scissors-select {
    border: 10px solid hsl(39, 89%, 49%);
    background-image: url(images/icon-scissors.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
}

.rock-select {
    border: 10px solid hsl(349, 71%, 52%);
    background-image: url(images/icon-rock.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
}

.info-game {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
    height: 10rem;
}

#info {
    text-align: center;
    margin: 1rem;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}

#play-again {
    width: 65%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
    align-self: center;
}

.winner {
    opacity: 1;
    z-index: -1;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background-color: rgba(65, 128, 223, 0.281);
    animation: expand .9s linear infinite;
}

@keyframes expand {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes showIA {
    25% {
        display: block;
        border: 10px solid hsl(230, 89%, 62%);
        background-image: url(images/icon-paper.svg);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
    }
    70% {
        border: 10px solid hsl(39, 89%, 49%);
        background-image: url(images/icon-scissors.svg);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
    }
    100% {
        border: 10px solid hsl(349, 71%, 52%);
        background-image: url(images/icon-rock.svg);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px 5px 0 0px rgba(0, 0, 0, 0.253);
    }
}


/* 
------------------------- RESPONSIVE -------------------------------- */

@media screen and (min-width:550px) {
    .container-hand {
        position: relative;
        margin: 2.5% auto;
        max-width: 400px;
    }
    #play-again {
        width: 300px;
    }
}

@media screen and (min-width:515px) {
    .container-select-hand {
        position: relative;
        margin: 2.5% auto;
        max-width: 400px;
    }
    #you {
        margin-left: 45px;
    }
    #house {
        margin-right: 20px;
    }
}

@media screen and (min-width:1024px) {
    .container-title-score {
        position: relative;
        margin: 0 auto;
        max-width: 60%;
    }
    .hand {
        width: 170px;
        height: 170px;
    }
    .container-hand {
        max-width: 600px !important;
    }
    .select-hand {
        width: 170px;
        height: 170px;
    }
    .hand-ia {
        width: 170px;
        height: 170px;
    }
    .container-select-hand {
        position: relative;
        margin: 2.5% auto;
        max-width: 500px;
    }
    #you {
        margin-left: 70px;
    }
    #house {
        margin-right: 50px;
    }
    .winner {
        width: 170px;
        height: 170px;
    }
    #rules {
        position: absolute;
        margin: 3rem 2rem;
        right: 0;
        bottom: 0;
    }
    .container-target-rules {
        width: 500px;
    }
}